@font-face {
    font-family: 'Abhaya Libre';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/abhayalibre/v14/e3tmeuGtX-Co5MNzeAOqinEQfEnXgPRE4g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body {
    background-color : rgb(182, 223, 188); 
    color : white;
    font-size : 1.5em;
    font-family: 'Abhaya Libre', 'Times New Roman', Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #417643;
    color: white; 
    padding-top: 4em;
    padding-bottom: 4em;
}
nav {
    width: 100%;
    margin: auto;
    
ul {
    list-style-type: none;
    display: inline;
    justify-content: center;
    margin: auto;
    padding: 0;
    overflow: hidden;
}   

    a {
    display: block;
    padding: 8px;
    background-color: white;
    }
}
h1 {
    margin-left: 8em;
    margin-right: 9em;
    color: transparent;
    font-size: 2em;
    height: 1em;
    text-align: center;
    position: relative;
}

h1::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #ffffff;
    border-right: 2px solid #ffffff;
    overflow: hidden;
    animation: animate 10s linear infinite;
}
@keyframes animate {
    0%
    {
        width: 0;
    }
    70%,90%
    {
        width: 100%;
    }
}
    
h5 {
    margin-top: 0em;
    margin-right: 2em;
    color: white;
    font-size: 1em;
    text-align: center;
}
h2 {
    margin-left: 2em;
    margin-right: 2em;
    color: white;
    font-size: 1em;
    text-align: center;
}
h3 {
    margin: 1em;
    padding: 0;
    color: #417643;
}
main {
    margin: 2em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
label {
    cursor: pointer;
}

#weather-widget-container {
    display: flex;
}
.weather-widget {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-right: 1em;
    margin-bottom: 1em;
    padding: 0.5em;
    flex: 4;
    background-color : white; 
    color : black;
}
.weather-icon {
    width: 3em;
    height: 3em;
}
.weather-date {
    font-size: 1.5em;
    font-weight: bold;
}
#weather-widget-location {
    font-size: 1.5em;
    font-weight: bold;
    padding: 0;
    margin: 0;
}
@media (max-width: 767px) {
    #weather-widget-container {
        display: block;
    }
}

footer {
    background-color: #417643;
    color: white; 
    padding-top: 1em;
    padding-bottom: 1em;
}
footer p {
    margin-left: 2em;
    margin-right: 2em;
    color: white;
    font-size: 1em;
    text-align: center;
}
.footer-design {
    animation: colorChange 3s infinite alternate;
}
@keyframes colorChange {
    0% {
        color: white;
    }
    25% {
        color: #92b9a1; 
    }
    50% {
        color: #5c9269;
    }
    75% {
        color: #377949; 
    }
    100% {
        color: #417643;
    }
}

.clouds {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 500em;
    height: 18em;
    background: url(clouds.png) repeat-x;
    animation: moveClouds 140s linear infinite;
    /*z-index: -1; /* Ensure the clouds are behind other content */
}
@keyframes moveClouds {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.chat-container {
    margin: 0.5em auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.chat-box {
    height: 10em;
    width: 20em;
    overflow-y: scroll;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 3px;
}  
input[type="text"] {
    width: 70%;
    padding: 5px;
    border: 1px solid black;
    border-radius: 3px;
} 
button {
    padding: 5px 10px;
    background-color: #51a867;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
button:hover {
    background-color: #1a4721;
}
.message {
    color: black;
    margin-bottom: 10px;
}
.user {
    text-align: right;
}
.bot {
    text-align: left;
}
@media (max-width: 767px) {
    .chat-box {
        width: 100%;
    }
    input[type="text"] {
        width: 60%;
    }
} 
